
@import url('https://fonts.googleapis.com/css2?family=Mea+Culpa&display=swap');


@import "tailwindcss";



:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-nunito: "Nunito", sans-serif;
  --font-rubik: "Rubik", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-Mea: "Mea Culpa", cursive;
}

@layer utilities {
  /* Largura da barra */
  .scrollbar-thin::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  /* Cor do trilho */
  .scrollbar-track::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Cor da barra */
  .scrollbar-thumb::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 8px;
  }

  /* Cor ao passar o mouse */
  .scrollbar-thumb:hover::-webkit-scrollbar-thumb {
    background: #555;
  }
}

@theme {
  --breakpoint-xs: 480px;   /* Exemplo de breakpoint personalizado */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
