
@import url('https://fonts.googleapis.com/css2?family=Mea+Culpa&display=swap');


@import "tailwindcss";



:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-nunito: "Nunito", sans-serif;
  --font-rubik: "Rubik", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-Mea: "Mea Culpa", cursive;
}



@theme {
  --breakpoint-xs: 480px;   /* Exemplo de breakpoint personalizado */
  --breakpoint-xxs: 395px; 
  --breakpoint-x: 375px; 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}


/* globals.css */
.custom-scroll::-webkit-scrollbar {
  width: 5px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #F35B00; /* azul */
  border-radius: 20px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #e5e7eb; /* cinza */
}
